# web
django
django-extensions
django-safedelete
django-environ
djangorestframework
django-debug-toolbar
mysqlclient

# task utils
celery[redis]
gevent
psutil
httpx
pytest
pytest-django

# scanner
python-nmap
python-masscan